@import '~normalize.css/normalize.css';
@import '~material-components-web/dist/material-components-web.min.css';
@import 'mdc-data-table';
@import 'not-found';

html {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Roboto';
  height: 100%;
  overflow-x: hidden;
}

#app {
  height: 100%;

  .red-text {
    color: #F44336 !important;
  }

  .grey-text {
    color: #757575 !important;
  }

  a {
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }

  // https://github.com/vuejs/vue-router/tree/dev/examples/transitions
  .child-view {
    width: 100%;
    position: absolute;
    transition: all .5s cubic-bezier(.55,0,.1,1);
  }

  .fade-enter-active, .fade-leave-active {
    transition: opacity .5s ease;
  }

  .fade-enter, .fade-leave-active {
    opacity: 0;
  }

  .slide-left-enter, .slide-right-leave-active {
    opacity: 0;
    -webkit-transform: translate(30px, 0);
    transform: translate(30px, 0);
  }

  .slide-left-leave-active, .slide-right-enter {
    opacity: 0;
    -webkit-transform: translate(-30px, 0);
    transform: translate(-30px, 0);
  }

  .autocomplete {
    position: relative;

    .autocomplete-items {
      position: absolute;
      border: 1px solid #d4d4d4;
      border-bottom: none;
      border-top: none;
      z-index: 99;
      /* Position the autocomplete items to be the same width as the container */
      top: 100%;
      left: 0;
      right: 0;
      opacity: 0.9;
    }
    .autocomplete-items div {
      padding: 10px;
      cursor: pointer;
      background-color: #fff;
      border-bottom: 1px solid #d4d4d4;
    }
    .autocomplete-items div:hover {
      /* When hovering an item */
      background-color: #e9e9e9;
    }
    .autocomplete-active {
      /* when navigating through the items using the arrow keys */
      background-color: DodgerBlue !important;
      color: #ffffff;
    }
  }
}

.home {
  display: flex;
  height: 100vh;

  .mdc-top-app-bar {
    background-color: #58438a; // purple 700
  }

  .app-bar {
    position: absolute;
  }

  .mdc-drawer {
    .mdc-drawer__header {
      display: flex;
      .mdc-drawer__avatar {
        display: flex;
        margin-right: 10px;
        img {
          align-self: flex-end;
          max-width: 50px;
          max-height: 50px;
        }
      }
      .mdc-drawer__info {
        white-space: nowrap;
        overflow: hidden;

        h3, h6 {
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }
    }
  }

  .mdc-drawer-app-content {
    flex: auto;
    overflow: auto;

    .deferred-prompt {
      color: #ded3d3;
    }
  }

  .main-content {
    overflow: hidden;
    height: 100%;
    padding: 0 18px;
    background: #ececec;

    .mdc-top-app-bar--fixed-adjust {
      margin-bottom: 18px;
    }
  }

  @media only screen and (max-width: 767px)  {
    .mdc-drawer--open+.mdc-drawer-app-content {
      margin-left: 0;
    }
    .mdc-drawer--open~.mdc-drawer-scrim {
      display: block;
      background-color: rgba(0, 0, 0, .32);
    }
  }
}

.cryptocurrency {
  position: relative;
  display: block;
  width: 100%;
  overflow-x: auto;

  img.cryptocurrency-symbol {
    vertical-align: text-bottom;
    width: 20px;
  }
}

.weather {
  .weather-search {
    padding: 15px;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14);

    .city {
      width: 100%;
    }
    .weather-location {
      display: flex;
      height: 100%;
      display: flex;
      justify-content: space-between;

      h2 {
        color: #395d2f;
        font-weight: 500;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        align-self: center;
        margin: 0;
      }
      .mdc-fab {
        align-self: center;
        background-color: #45a92d;
      }
    }
  }

  .weather-fixed-adjust {
    margin-bottom: 20px;
  }

  .weather-forecast {
    padding: 16px;
    position: relative;
    box-sizing: border-box;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    font-family: 'Helvetica', 'Verdana', sans-serif;
    font-weight: 400;
    font-display: optional;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #444;

    .weather-location {
      font-size: 1.75em;
    }

    .weather-date, .weather-description {
      font-size: 1.25em;
    }

    .weather-current {
      display: flex;

      .weather-icon {
        width: 104px;
        height: 104px;
      }

      .weather-visual {
        display: flex;
        font-size: 4em;

        .weather-scale {
          font-size: 0.5em;
          vertical-align: super;
        }
      }

      .weather-visual, .weather-description {
        flex-grow: 1;
      }

      .weather-sunset:before {
        content: "Sunset: ";
        color: #888;
      }

      .weather-wind:before {
        content: "Wind: ";
        color: #888;
      }

      .weather-sunrise:before {
        content: "Sunrise: ";
        color: #888;
      }

      .weather-humidity:before {
        content: "Humidity: ";
        color: #888;
      }

      .weather-pollen:before {
        content: "Pollen Count: ";
        color: #888;
      }

      .weather-pcount:before {
        content: "Pollen ";
        color: #888;
      }
    }

    .weather-icon {
      background-repeat: no-repeat;
      background-size: contain;


      &.weather-icon--clear-day {
        background-image: url(../images/weathers/clear.png);
      }

      &.weather-icon--clear-night {
        background-image: url(../images/weathers/clear.png);
      }

      &.weather-icon--rain {
        background-image: url(../images/weathers/rain.png);
      }

      &.weather-icon--snow {
        background-image: url(../images/weathers/snow.png);
      }

      &.weather-icon--sleet {
        background-image: url(../images/weathers/sleet.png);
      }

      &.weather-icon--windy {
        background-image: url(../images/weathers/wind.png);
      }

      &.weather-icon--fog {
        background-image: url(../images/weathers/fog.png);
      }

      &.weather-icon--cloudy {
        background-image: url(../images/weathers/cloudy.png);
      }

      &.weather-icon--partly-cloudy-day {
        background-image: url(../images/weathers/partly-cloudy.png);
      }

      &.weather-icon--partly-cloudy-night {
        background-image: url(../images/weathers/partly-cloudy.png);
      }

      &.weather-icon--thunderstorms {
        background-image: url(../images/weathers/thunderstorm.png);
      }
    }

    .weather-future {
      display: flex;
      .weather-oneday {
        flex-grow: 1;
        text-align: center;

        .weather-icon {
          width: 64px;
          height: 64px;
          margin-left: auto;
          margin-right: auto;
        }

        .weather-temp-high, .weather-temp-low {
          display: inline-block;
        }

        .weather-temp-low {
          color: #888;
        }
      }
    }

    @media (max-width: 520px) {
      .weather-date, .weather-description {
        font-size: 1.1em;
      }

      .weather-future {
        .weather-oneday {
          .weather-icon {
            width: 48px;
            height: 48px;
          }
        }
      }
    }

    @media (max-width: 450px) {
      .weather-date, .weather-description {
        font-size: 0.9em;
      }

      .weather-temperature {
        .weather-value {
          font-size: 0.9em;
        }

        .weather-scale {
          font-size: 0.9em;
        }
      }

      .weather-current {
        .weather-icon {
          width: 72px;
          height: 72px;
        }

        .weather-visual {
          font-size: 2.5em;
        }
      }

      .weather-future {
        .weather-oneday {
          .weather-icon {
            width: 32px;
            height: 32px;
          }
        }
      }
    }
  }
}

.help {
  z-index: 7;
}

.sign-in {
  height: 100%;
  display: flex;
  justify-content: center;
  background: url(../images/bg.jpg) no-repeat center center fixed;
  background-size: cover;


  .sign-in-form {
    border-radius: 3px;
    border: 1px solid #ccc;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
    background: #fff;
    padding: 15px;
    align-self:center;

    .sign-in-header {
      text-align: center;
    }

    .sign-in-body {
      padding-bottom: 20px;

      .email, .password {
        display: block;
        width: 300px;
        margin: 20px auto 0;
      }

      .button-container {
        margin: 20px auto 0;
        display: flex;
        justify-content: space-between;
        .go-to-sign-up {
          align-self: flex-end;
        }
        .button-sign-in {
          align-self: flex-end;
        }
        .go-to-forgot-password {
          margin-top: 1px;
          align-self: flex-end;
        }
      }
    }

    .sign-in-footer {
      font-family: Roboto,sans-serif;
      font-weight: 500;
      font-size: .875rem;
      background: #ecf0f1;
      border-color: #dee4e7;
      border-bottom-right-radius: 3px;
      border-bottom-left-radius: 3px;
      text-align: center;
      justify-content: center;
      margin: 0 -15px -15px;
      padding: 15px;
    }
  }
}

.sign-up {
  height: 100%;
  display: flex;
  justify-content: center;
  background: url(../images/bg.jpg) no-repeat center center fixed;
  background-size: cover;


  .sign-up-form {
    border-radius: 3px;
    border: 1px solid #ccc;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
    background: #fff;
    padding: 15px;
    align-self:center;

    .sign-up-header {
      text-align: center;
    }

    .sign-up-body {
      .name, .email, .password {
        display: block;
        width: 300px;
        margin: 20px auto 0;
      }

      .button-container {
        margin: 20px auto 0;
        display: flex;
        justify-content: space-between;
        .go-to-ign-up {
          align-self: flex-end;
        }
        .button-sign-up {
          align-self: flex-end;
        }
      }
    }
  }
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';

  &.md-18 { font-size: 18px; }
  &.md-24 { font-size: 24px; }
  &.md-36 { font-size: 36px; }
  &.md-48 { font-size: 48px; }
}
