.mdc-shadow--2dp {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

.mdc-table {
  border: 1px solid rgba(0,0,0,.12);
  border-collapse: collapse;
  white-space: nowrap;
  background-color: #fff;

  thead {
    padding-bottom: 3px;

    .mdc-table__select {
      margin-top: 0
    }

    th {
      padding: 10px 18px 12px 18px;
      text-align: right;
      position: relative;
      vertical-align: bottom;
      text-overflow: ellipsis;
      font-weight: 700;
      line-height: 24px;
      letter-spacing: 0;
      height: 48px;
      color: rgba(0,0,0,.54);
      padding-bottom: 8px;
      box-sizing: border-box;

      &:first-of-type {
        padding-left: 24px;
      }

      &:last-of-type {
        padding-right: 24px;
      }

      &.mdc-table__header--sorted-ascending,
      &.mdc-table__header--sorted-descending {
        color: rgba(0,0,0,.87);
      }

      &.mdc-table__header--sorted-ascending:before,
      &.mdc-table__header--sorted-descending:before {
        font-family: 'Material Icons';
        font-weight: 400;
        font-style: normal;
        line-height: 1;
        letter-spacing: normal;
        text-transform: none;
        display: inline-block;
        word-wrap: normal;
        -moz-font-feature-settings: 'liga';
        font-feature-settings: 'liga';
        -webkit-font-feature-settings: 'liga';
        -webkit-font-smoothing: antialiased;
        font-size: 16px;
        content: "\e5d8";
        margin-right: 5px;
        vertical-align: sub;
      }

      &.mdc-table__header--sorted-ascending:hover,
      &.mdc-table__header--sorted-descending:hover {
        cursor: pointer;
      }

      &.mdc-table__header--sorted-ascending:hover:before,
      &.mdc-table__header--sorted-descending:hover:before {
        color: rgba(0,0,0,.26);
      }

      &.mdc-table__header--sorted-descending:before {
        content: "\e5db";
      }
    }
  }

  tbody {
    tr {
      position: relative;
      height: 48px;
      transition-duration: .28s;
      transition-timing-function: cubic-bezier(.4,0,.2,1);
      transition-property: background-color;

      .is-selected {
        background-color: #e0e0e0;
      }

      &:hover {
        background-color: #eee;
      }

      td {
        text-align: right;
        position: relative;
        height: 48px;
        border-top: 1px solid rgba(0,0,0,.12);
        border-bottom: 1px solid rgba(0,0,0,.12);
        padding: 12px 18px;
        box-sizing: border-box;
        vertical-align: middle;

        &:first-of-type {
          padding-left: 24px;
        }

        &:last-of-type {
          padding-right: 24px;
        }
      }
    }
  }

  .mdc-table__cell--non-numeric {
    text-align: left;
  }

  .mdc-table__cell--numeric {
    white-space: nowrap;
    text-align: center;
  }
}

.mdc-table__select {
  width: 16px;
}

.mdc-table-responsive {
  width: 100%;
  border-collapse:collapse;
  white-space: normal;

  td {
    word-break: inherit;
  }
}

.mdc-table-loading {
  .text-input__loading--line {
    height: 14px;
    animation: pulse 1s infinite ease-in-out;
  }

  @keyframes pulse {
    0% {
      background-color: rgba(165, 165, 165, 0.1);
    }
    50% {
      background-color: rgba(165, 165, 165, 0.3);
    }
    100% {
      background-color: rgba(165, 165, 165, 0.1);
    }
  }
}
